.contactoExpandido-container{
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactoExpandido-blur{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.591);
    top: 0;
    left: 0;
}

.contacto--card{
    width: 400px;
    height: 700px;
    margin-top: 70px;
    margin-right: 10px;
    border-radius: 20px;
    overflow: hidden;
    z-index: 100;
    border: 1px solid #d9d9d9;
    background: #fff;
    background: linear-gradient(#787878, var(--txt-color));
    
}
.trabajo{
    background: linear-gradient(#00000026, #000000c9), url(https://img.freepik.com/fotos-premium/espacio-trabajo-oscuro-moderno-computadora-portatil-maqueta-pantalla-blanca-telefono-inteligente-sobre-fondo-oscuro_67155-18521.jpg);;
    background-size: cover;
    background-position: 0px 50%;
}

.amigos{
    background: linear-gradient(#00000026, #000000c9), url(https://c4.wallpaperflare.com/wallpaper/280/645/272/joystick-controller-gamepad-wallpaper-preview.jpg);
    background-size: cover;
    background-position: 0px 60%;
}
.estudio{
    background: linear-gradient(#00000026, #000000c9), url(https://www.10wallpaper.com/wallpaper/1366x768/1406/books_life-widescreen_Wallpaper_1366x768.jpg);
    background-size: cover;
    background-position: 0px 60%;
}
.desconocido{
    background: linear-gradient(#00000026, #000000c9), url(https://media.istockphoto.com/id/1408364942/es/foto/signo-de-interrogaci%C3%B3n-blanco-en-fondo-azul-de-puntuaci%C3%B3n-con-concepto-de-s%C3%ADmbolo-abstracto-o.webp?b=1&s=170667a&w=0&k=20&c=LQt-d0SNk3tO2ezo1fgPB1oCniwf60m3GWjJXIhYWak=);
    background-size: cover;
    background-position: 90%;
}
.contacto--portada{
    width: 100%;
    height: 300px;
    position: relative;
}
.profilePicture{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #fff;
    position: absolute;
    bottom: -100px;
    right: 100px;
}
.profilePicture img{
    width: 100%;
}


.contacto--datos h2{
    margin-top: 100px;
    width: 100%;
    text-align: center;
    font-size: 30px;
}
.contacto--datos__datos{
    height: 200px;
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}