.nav-container {
    width: 225px;
    height: 100vh;
    background-color: #2F3B47;
    font-size: 20px;
}
.nav--show, .nav--hide{
    display: block;
}
.btnAbrir, .btnCerrar{
    display: none;
}
ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

li {
    height: 90px;
    padding: 20px;
    list-style: none;
    color: rgb(196, 196, 196);
    transition: all .2s;
    cursor: pointer;
    display: flex;
    align-items: center;
}

li:hover {
    background-color: #14448b;
    color: white;
}

li i {
    margin-right: 20px;
}

.nav_filters{
    height: 300px;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}


@media (min-width: 378px) and (max-width: 1023px){

}

@media (max-width: 390px) {
    .nav-container {
        position: absolute;
        z-index: 100;
        width: 100vw;
        font-size: 30px;
    }
    .btnAbrir, .btnCerrar{
        display: block;
        position: absolute;
        border: none;
        font-size: 50px;
        font-weight: 600;
        z-index: 90;
        cursor: pointer;
        border-radius: 50%;
    }

    .btnAbrir{
        display: block;
        width: 105px;
        height: 105px;
        top: -35px;
        left: -35px;
        color: var(--bg-color1);
    }
    .btnAbrir i{
        position: absolute;
        top: 40px;
        left: 40px;
    }
    .btnCerrar{
        display: block;
        top: 10px;
        right: 10px;
        background-color: transparent;
        color: var(--txt-color);
    }
    .nav--show{
        display: block;
    }
    .nav--hide{
        display: none;
    }
    ul {
        padding-top: 60px;
        padding-left: 10px;
    }
}