@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.contacto-container{
    width: 49%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #e8e8e8;
    border-radius: 15px;
    background-color: #fff;
    overflow: hidden;
}


.contacto--txt{
    width: 100%;
    height: 50%;
    /* ↓↓ CAMBIAR CON RESPECTO AL GRUPO QUE PERTENEZCA ↓↓ */
    background: linear-gradient(#00000026, #000000c9), url(https://img.freepik.com/foto-gratis/grupo-personas-diversas-que-tienen-reunion-negocios_53876-25060.jpg?w=1380&t=st=1709434370~exp=1709434970~hmac=10db719c4be07bd411eb0ff4cacca37df08900d91129fd3622881cb668e67f84)
    ;
    background-size: cover;
    position: relative;
    color: rgb(246, 246, 246);
    font-size: 20px;
}

.contacto--dlt{
    width: 30px;
    height: 30px;
    color: #fff;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    
    position: absolute;
    right: 20px;
    top: 20px;
    
    display: flex;
    justify-content: center;
    align-items: top;
}
.contacto--dlt i {
    font-size: 30px;
    font-weight: 600;
}
.contacto--dlt i:hover{
    filter: drop-shadow(0 0 9px #fff);
} 

.contacto--txt h2{
    position: absolute;
    bottom: 10px;
    left: 10px;
}


.contacto--datos{
    width: 100%;
    height: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 18px;
}

.contacto--datos h4 > i{
    padding: 0 10px ;
}